  body{
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
 
  
  }
  header{
    
    height: 120px;
    width: 100vw;
    border-bottom: 10px groove rgb(43, 10, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 1, 27);
    filter:brightness(180%);
   
    
  }


   h1.gradient{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    justify-items: center;
    text-align: center;
  
    /*=====Gradient=====*/
    background-image: linear-gradient(to left, rgb(38, 88, 83), rgb(31, 11, 70),rgb(102, 4, 110), rgb(78, 8, 110));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    filter: brightness(200%);
   
  }

  .wrapper-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: black;
  background-image: linear-gradient(to top, rgb(44, 5, 77),rgb(53, 2, 53), rgb(15, 1, 27));
  filter:brightness(180%);
  position: relative;

  }
  
 

 
  .container-menu{
    height:100%;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items:center ;
    justify-items: center;
    grid-template-columns: auto auto;
    gap: 100px;
    position: absolute;
    bottom: 90px;
  
  
   
    
  
  }

  .link{
    width: 450px;
    height: 150px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgb(12, 2, 34),rgb(66, 31, 133), rgb(12, 2, 34) );
   
  }

  .link:hover {
    box-shadow: 0px -2px 10px 5px rgba(110, 20, 170, 0.253);
    transform: translate(0px, 1%); 
    transition: 0.2s ease-out;
    width: 440px;
    height: 140px;
    background-color: rgba(54, 27, 129, 0.63);
    cursor: pointer;
    
   
  }

  a{
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(103, 125, 143);
    letter-spacing: 1.5px;
  }

  a:hover{
    color: rgb(124, 106, 141);
  }
  /*====dispositivo movel=====*/
 @media (max-width: 1320px){
  h1.gradient{
    font-size: 3rem;
    padding: 25px 20px;
  }
 }
  @media (max-width: 1050px){
  body{
    overflow: hidden;
   
  }
  .wrapper-menu{
    height: 100vh;
  }
 
  .container-menu{
    height: 75%;
    grid-template-columns: auto;
    gap: 28px;
    top: 0px;
    bottom: 0px;
    
   
    
  }
  .link{
    width: 290px;
    height: 100px;

  }
  h1.gradient{
    font-size: 2rem;
   
    
  }
  .link:hover{
    width: 280px;
    height: 100px;
  }
  a{
    font-size: 1.8rem;
  }

}


